<article>
  <img
    class="listing-photo"
    [src]="housingLocation?.photo"
    alt="Exterior photo of {{ housingLocation?.name }}"
    crossorigin
  />
  <div class="listing-details">
    <section class="listing-description">
      <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
      <p class="listing-location">
        {{ housingLocation?.city }}, {{ housingLocation?.state }}
      </p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">About this housing location</h2>
      <ul>
        <li>Units available: {{ housingLocation?.availableUnits }}</li>
        <li>Does this location have wifi: {{ housingLocation?.wifi }}</li>
        <li>Does this location have laundry: {{ housingLocation?.laundry }}</li>
      </ul>
    </section>
    <section>
      <strong
        ><ul>
          Waiting List
          <li *ngFor="let name of waitingList">{{ name }}</li>
        </ul></strong
      >
      <app-name (addName)="addName($event)"></app-name>
    </section>

    <form [formGroup]="applyForm" class="apply-form">
      <mat-form-field color="accent">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    </form>
  </div>
</article>

<!-- <div>
  <form [formGroup]="applyForm" class="example-form">
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        [errorStateMatcher]="matcher"
      />
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="applyForm.hasError('email')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="applyForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error
  </form>
</div> -->
