article{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

img {
    width: 350px;
    height: 350px;
}

.apply-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.mat-form-field {
    margin-bottom: 20px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #2196F3;
    /* Blue color */
}