<article>
  <img
    class="listing-photo"
    [src]="housingLocation?.photo"
    alt="Exterior photo of {{ housingLocation?.name }}"
    crossorigin
  />
  <div class="listing-details">
    <section class="listing-description">
      <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
      <p class="listing-location">
        {{ housingLocation?.city }}, {{ housingLocation?.state }}
      </p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">About this housing location</h2>
      <ul>
        <li>Units available: {{ housingLocation?.availableUnits }}</li>
        <li>Does this location have wifi: {{ housingLocation?.wifi }}</li>
        <li>Does this location have laundry: {{ housingLocation?.laundry }}</li>
      </ul>
    </section>
    <!-- <section>
      <div [formGroup]="applyForm">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="Your First Name"
            formControlName="firstName"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Your Last Name"
            formControlName="lastName"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Your Email" formControlName="email" />
        </mat-form-field>
      </div>
    </section> -->
    <section>
      <strong
        ><ul>
          Waiting List
          <li *ngFor="let name of waitingList">{{ name }}</li>
        </ul></strong
      >
      <app-name (addName1)="addName($event)"></app-name>
    </section>
  </div>
</article>
